/*============= 1 screen =============*/
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

* {
  padding: 0;
	margin: 0;
	transition: 0.6s ease-in;
}

.header {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	background-color: #FFFFFF;
	display: flex;
	height: 110px;
	align-items: center;
	justify-content: space-between;
}

.header__left, .header__right {
	display: flex;
	align-items: center;
	position: relative;
}

.header__logo {
	color: #3B3C41;
	font-size: 30px;
	text-decoration: none;
	font-family: 'Proxima Nova Cn Th';
	font-weight: 900;
	padding-right: 34px;
}

.header__nav-2 {
  left: 20px;
}

.header__nav-item {
	display: inline-block;
	padding-right: 34px;
	padding-top: 2px;
}

.header__nav-item-last {
	padding-right: 0;
}

.header__nav-link {
	font-family: 'Raleway';
	font-size: 14px;
	color: #3C3D41;
	text-decoration: none;
	position: relative;
}

.header__nav-link:before {
	content: "";
	width: 0;
	height: 0.1em;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: #3C3D41;
	transition: all 0.5s;
}
.header__nav-link:hover:before {
	width: 100%;
	left: 0;
	background: #3C3D41;
}

.header__icon {
	margin-left: 40px;
	margin-right: 11px;
}

.header__right-item {
	font-size: 18px;
	font-family: 'Raleway';
	color: #3C3D41;
}

.header__mobile {
	position: absolute;
	right: 0;
	cursor: pointer;
	display: none;
}

.header-mobile-2 {
	transform: rotate(90deg);
}

.header-mobile-item {
	width: 30px;
	height: 5px;
	background-color: #3C3D41;
	margin: 3px 0;
	border-radius: 5px;
}

.first-screen {
	background: url('../img/first-screen-bg.png') no-repeat center;
	background-size: cover;
	padding-top: 182px;
	padding-bottom: 258px;
}

.first-screen__content {
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
}

.first-screen__title,.first-screen__sub-title {
	font-family: 'Raleway';
	font-size: 36px;
}

.first-screen__title {
	font-weight: 600;
	color: #fff;
}

.first-screen__sub-title {
	font-weight: 300;
	color: #FBFBFB;
}

.first-screen__description {
	color: #9BC5CF;
	font-size: 14px;
	font-family: 'Raleway';
	max-width: 470px;
	margin-top: 40px;
	margin-bottom: 52px;
}

.first-screen__button {
	font-size: 21px;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 600;
	padding: 20px 53px;
	background-color: transparent;
	border: 3px solid #90AFB2;
	border-radius: 40px;
}

.first-screen__button:focus {
	outline: none;
	border: 3px solid #fff;
	box-shadow: 0px 3px 5px #fcfcfc;
}

.first-screen__button:hover {
	cursor: pointer;
	color: #90AFB2;
	background-color: #fff;
	border: 3px solid #fff;
}

/*============= 2 screen =============*/
.second-screen__title {
	padding-top: 180px;
	font-size: 36px;
	font-weight: 600;
	font-family: 'Raleway';
	color: #606969;
	text-align: center;
	padding-bottom: 32px;
}

.second-screen__sub-title {
	font-family: 'Raleway';
	font-size: 16px;
	color: #606969;
	font-weight: 400;
	max-width: 760px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 64px;
}

.second-screen__content {
	display: flex;
	padding-bottom: 110px;
}

.second-screen__left {
	display: flex;
	flex-direction: column;
	margin-right: 140px;
	max-width: 350px;
}

.second-screen__left__item {
	font-family: 'Raleway';
	font-size: 20px;
	color: #606969;
	width: 350px;
	box-sizing: border-box;
	padding-left: 42px;
	padding-right: 63px;
	border-right: 1px solid #606969;
	padding-top: 36px;
	padding-bottom: 36px;
	display: flex;
	align-items: center;
	position: relative;
}

.second-screen__left__item:hover {
	cursor: pointer;
	color: #606969;
}

.second-screen__left__item:after {
	content: "";
	width: 11px;
	height: 80px;
	background-color: #5AC383;
	position: absolute;
	right: -7px;
	opacity: 0;
	transition: 0.7s ease-in-out;
}

.second-screen__left__item:hover:after{
	opacity: 1;
}

.second-screen__icon {
	margin-right: 34px;
	width: 46px;
	height: 46px;
}

.second-screen__left__item-1 {
	padding-top: 56px;
}

.second-screen__left__item-2 {
	padding-bottom: 56px;
}

.second-screen__right {
	max-width: 650px;
	max-height: 620px;
	overflow-y: hidden;
}

.secons-screen__body {
	height: 500%;
	position: relative;
	top: 0;
	transition: 0.4s;
}

.second-screen__align {
	display: flex;
	justify-content: center;
}

.second-screen__img {
	margin-top: 108px;
	margin-bottom: 64px;
}

.second-screem__title {
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 800;
	color: #606969;
	margin-bottom: 34px;
}

.second-screen__description {
	font-family: 'Raleway';
	font-size: 16px;
	color: #606969;
}