/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
  .fourth-screen__left {
    left: 1%;
    z-index: 1;
  }
  
  .fourth-screen__right {
    right: 1%;
    z-index: 1;
  } 

  .fourth-screen__slider {
    padding: 0 1px;
    width: 60%;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1170px) {
  .header, .first-screen__content {
    width: 99%;
  }

  .second-screen__content {
    flex-direction: column;
    align-items: center;
  }

  .second-screen__left {
    margin-right: 0px;
  }
  
  .fourth-screen__slider {
    padding: 0 1px;
    width: 310px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1000px) {
  .third-screen__content {
    flex-direction: column;
    align-items: center;
  }

  .third-screen__content__left {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header {
    padding-top: 30px;
    justify-content: center;
    flex-direction: column;
  }

  .header__left {
    margin-bottom: 40px;
    width: 90%;
    justify-content: space-between;
  }

  .header__mobile {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: block;
  }  

  .header__nav-item {
    display: block;
    padding: 15px 0;
  }

  .header__nav-link {
    font-family: 'Raleway';
    font-size: 14px;
    color: #3C3D41;
    text-decoration: none;
    position: relative;
  }

  .header__nav {
    position: absolute;
    top: -30px;
    padding-left: 45px;
    left: -1000px;
    width: 90%;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.29);
  }

  .header__right {
    position: relative;
    bottom: 68px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 780px) {
  .header__right {
    bottom: 0;
  }

  .first-screen {
    background-position: 60%;
  }

  .first-screen__description {
    text-shadow: 1px 2px 2px rgba(50, 50, 50, 0.4);
  }

  .fourth-screen__slider {
    position: relative;
    left: 10px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {
  .header__right {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    left: -30px;
  }

  .header {
    padding-bottom: 30px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 370px) {
  .header__right {
    right: 16px;
  }

  .second-screen__left__item {
    width: 310px;
    padding-left: 38px;
    padding-right: 58px;
  }

  .third-screen__img {
    width: 100%;
  }

  .fourth-screen__arrows {
    top: 400px;
  }

  .second-screen__sub-title {
    margin-bottom: 200px;
  }
}
